$charcoal: #bbb;
$lightyellow: #ffffe0;
$black: #000;
$lavender: #e6e6fa;
$lightgreen: #90ee90;
$lightcyan: #e0ffff;

.main-header {
  align-items: center;
  border-bottom: 1px solid $black;
  color: $black;
  display: flex;
  height: 100px;
  padding: 0 20px;

  a,
  span {
    font-size: 1.2em;
    margin: 0 15px;
  }
}

.main-header > nav {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.c-to-do {
  background-color: $lightyellow;
  color: $black;
}

.items {
  background-color: $lavender;
}

.head-link {
  color: $black;
}

.up, .ch {
  background-color: $lightgreen;
}

.in, .out {
  background-color: $lightcyan;
}

@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
    font-size: 0.7em;
    height: auto;
    padding: 10px;

    h1 {
      font-size: 2.5em;
    }
  }
}

@media (max-width: 450px) {
  .main-header > nav {
    flex-direction: column;
    width: 100%;

    a,
    span {
      border: 1px solid $charcoal;
      margin-bottom: 5px;
      text-align: center;
      width: 80%;
    }
  }
}
