@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;
$lightyellow: #ffffe0;
$lightgreen: #90ee90;
$lightcyan: #e0ffff;
$black: #000;

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $black;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form {
  background-color: $lightyellow;
  display: flex;
  flex-direction: column;
  font-family: 'Permanent Marker', cursive;
  justify-content: center;
  margin: 15% auto 0;
  max-width: 600px;
  text-align: center;

  h3,
  input {
    margin-bottom: 5%;
  }
}

.form {
  background-color: $lightcyan;
  margin-top: 20px;
  text-align: center;
}

h3 {
  text-align: center;
}

.updated {
  background-color: $lightgreen;
  margin-top: 20px;
  text-align: center;
}

body {
  background-image: url('./pics/woods.jpg');
  background-size: cover;
  font-family: 'Permanent Marker', cursive;
}
